.boombox-svg {
  .cls-2{fill:#fff}.cls-3{fill:#f5f3f7}.cls-5{fill:#7489c3}.cls-6{fill:#516cb4}.cls-7{fill:#38c2c9}.cls-9{fill:#06b3bb}
}

#car1 {
  opacity: 0;
}

#skyline-container {
  overflow: hidden;
}

.slider {
  .slider__bg {
    .isMobile {
      display: none;
    }
  }
}

